
/* COLORS */
$color-primary-coral: #FF8E52;
$color-primary-grey: #4F7F7B;
$color-primary-forest: #057F74;
$color-primary-teal: #7ECCC4;
$color-primary-seafoam: #9EFFF6;
$color-primary-lightgreen: #BCFFF8;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

/* FONTS */
$default-font-size: 1.6rem;

/* GRID */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
