/* COLORS */
/* FONTS */
/* GRID */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* COLORS */
/* FONTS */
/* GRID */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background: #4F7F7B;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff; }

/* COLORS */
/* FONTS */
/* GRID */
.header {
  margin-top: 100px;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(188, 255, 248, 0.8), rgba(5, 127, 116, 0.3)), url(../Images/Lockers.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #FF8E52;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* fix the shakey animation */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #9EFFF6, #057F74);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(4deg) skewX(2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center;
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.margin-top-1 {
  margin-top: 15rem; }

/* COLORS */
/* FONTS */
/* GRID */
.btn-new:link, .btn-new:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn-new:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-new:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn-new:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-new--white {
  background-color: #fff;
  color: #777; }
  .btn-new--white::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .btn-new--white--animated {
    animation: moveInButton 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #FF8E52;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #FF8E52;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #057F74;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

/* COLORS */
/* FONTS */
/* GRID */
.composition {
  position: relative; }
  .composition__photo {
    width: 35%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #FF8E52;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.85); }

/* COLORS */
/* FONTS */
/* GRID */
.feature-box {
  background-color: rgba(255, 142, 82, 0.8);
  font-size: 1.5rem;
  text-decoration: none;
  color: #f7f7f7;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #FF8E52, #057F74);
    -webkit-background-clip: text;
    color: #fff; }
  .feature-box__text {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none; }
  .feature-box__h4 {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/* COLORS */
/* FONTS */
/* GRID */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

/* COLORS */
/* FONTS */
/* GRID */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 142, 82, 0.8), rgba(5, 127, 116, 0.8)), url(../../../Images/Lockers.jpg);
  background-size: cover;
  background-attachment: fixed;
  /*background-position: top;*/
  /*position: relative;*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.home-content-section {
  background-image: url("../../../Images/Apple-Red_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  color: #fff; }
  .home-content-section__dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); }

.head-section {
  background-color: #FF8E52;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 2rem; }
  .head-section h1 {
    font-size: 4rem;
    font-weight: 400; }
  .head-section p {
    font-size: 3rem;
    font-weight: 300; }

.head-section-explore {
  background-color: #FF8E52;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 2rem; }
  .head-section-explore h1 {
    font-size: 4rem;
    font-weight: 400; }
  .head-section-explore p {
    font-size: 3rem;
    font-weight: 300; }

.content-section {
  background-color: #057F74;
  color: #fff;
  padding: 4rem; }
  .content-section h1 {
    font-size: 4rem;
    font-weight: 400; }
  .content-section p {
    font-size: 3rem;
    font-weight: 300; }

/* COLORS */
/* FONTS */
/* GRID */
.nav-bar-1 {
  background-color: #4F7F7B;
  height: 5rem; }
  .nav-bar-1 ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 15px; }
    .nav-bar-1 ul li {
      display: inline;
      font-family: "Lato", sans-serif;
      font-size: 17px; }
      .nav-bar-1 ul li a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px; }
        .nav-bar-1 ul li a:hover {
          background-color: #111; }

/* COLORS */
/* FONTS */
/* GRID */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(5, 127, 116, 0.6), rgba(79, 127, 123, 0.8)), url(/Images/Teacher-AtDesk.jpg);
  background-size: cover; }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0; }

.section-registration {
  background-color: #7ECCC4;
  align-content: center; }

/*.navbar {
    height: 4rem;
    background-color: $color-primary-grey;
    border-bottom: $color-primary-grey 3px solid;
    opacity: 0.8;
}

#home-section {
    background-image: url('../images/apple-red_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#header-custom {
    background-image: url('../images/aprons.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.home-inner {
    padding-top: 150px;
}

#home-section .fas {
    color: $color-primary-coral;
    background: $color-primary-grey;
    padding: 5px;
    border-radius: 5px;
}

#explore-section .fas,
#share-section .fas,
#create-section .fas {
    color: $color-primary-grey;
    background: $color-primary-coral;
    padding: 5px;
    border-radius: 5px;
}

#explore-head-section {
    background-color: $color-primary-coral;
}

#explore-head-section-page {
    background-color: $color-primary-grey;
}

#explore-section {
    background-color: $color-primary-forest;
}

.wrapper {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;

    &-register {
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
    }
}



.box {
    background-color: $color-primary-coral;
    padding: 10px;
    border: 5px solid $color-primary-seafoam;
    border-radius: 15px;
}

.box-register {
    background-color: $color-primary-grey;
    padding: 10px;
    border: 5px solid $color-primary-seafoam;
    border-radius: 15px;
}

.box-create {
    background-color: $color-primary-coral;
    padding: 10px;
    border: 5px solid $color-primary-teal;
}

.container-wishlists {
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

#create-head-section {
    background-color: $color-primary-coral;
}

#create-head-section-page {
    background-color: $color-primary-grey;
}

#create-section {
    background-color: $color-primary-forest;
}

#registration-page {
    background-image: url('../images/pencils-horizontal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

#share-head-section {
    background-color: $color-primary-coral;
}

#share-section {
    background-color: $color-primary-forest;
}

.wrapper-wishlist-details {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.heading-list-details {
    margin-top: 100px;
}

.wrapper-pictures{
    display: grid;

    &__#1 {
        grid-column: 1 / 1;
    }
}*/
